/* Cabeçalho */
header {
  position: sticky;
  top: 0;
  z-index: 1000;

  background: var(--vt-c-black);
  padding: 15px 20px;
  border-bottom: 1px solid var(--primary-color);
}

ul {
  width: 98vw;
  display: flex;
  gap: 14px;
  list-style-type: none;
  justify-content: center;
  padding-left: 0;
}

li {
  font-size: 16px;
  cursor: pointer;
  transition: 0.15s all ease;
  padding: 4px;
}

li:hover {
  transform: scale(1.1);
  background: var(--hover-color);
  border-radius: 6px;
}

a {
  background-color: transparent;
}

#mode {
  cursor: pointer;
}

#mode:hover {
  scale: 1.1;
}

/* Fim cabeçalho */

/* Corpo */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

button {
  border-radius: 4px;
}

.sessao-apresentacao {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  padding: 0 20px;
  height: 740px;
  padding-top: 120px;
}

.apresentacao {
  line-height: 1.5;
  padding-top: 80px;
}

.apresentacao .detalhes .profissao {
  margin-bottom: 8px;
}

.apresentacao .detalhes p {
  width: 80%;
  line-height: 1;
}

.apresentacao span {
  font-size: 16px;
}

.apresentacao .mais-info {
  padding-top: 12px;
  display: flex;
  gap: 12px;
  justify-content: center;
}

.apresentacao .mais-info button,
.botao-saiba-mais,
.botao-formulario {
  background: var(--primary-color);
  color: var(--vt-c-white);
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  transition: 0.25s all ease;
}

.apresentacao .mais-info button:hover,
.botao-saiba-mais:hover,
.botao-formulario:hover {
  transform: scale(1.2);
}

.apresentacao .mais-info .botao {
  display: flex;
  align-items: center;
  gap: 2px;
  padding-right: 10px;
  cursor: pointer;
}

.apresentacao .mais-info .botao-icone {
  transition: 0.3s all ease;
}

.apresentacao .mais-info .botao-icone:hover {
  transform: scale(1.2);
  background: var(--hover-color);
  border-radius: 6px;
}

.apresentacao .mais-info .botao-icone i {
  font-size: 28px;
}

.imagem img {
  border-radius: 48px;
  border: 0.5px solid var(--primary-color);
}

.divisor {
  width: 60%;
  height: 1px;
  background: var(--primary-color);
  margin: 28px auto;
}

.sobre {
  max-width: 800px;
  height: 740px;
  padding: 0 20px;
  margin: auto;
}

.sobre p {
  text-align: justify;
}

.sobre h2 {
  text-align: center;
}

.tecnologias {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  padding: 0 20px;
  margin: auto;
}

.tecnologias h2 {
  text-align: center;
  padding-bottom: 20px;
}

.tecnologias .cards {
  display: flex;
  gap: 20px;
}

.tecnologias .cards .card {
  border: 1px solid var(--primary-color);
  padding: 10px;
  border-radius: 8px;
  width: 160px;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.icons .icon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  padding: 14px;
  border-radius: 12px;
  background: var(--background-card-color);
  min-width: 80px;
  transition: all 0.3s ease;
  position: relative;
  cursor: pointer;
}

.icons .icon-card i {
  font-size: 38px;
}

.icons .icon-card span {
  font-size: 14px;
  background-color: var(--primary-color);
  color: var(--vt-c-white);
  padding: 0 4px;
  border-radius: 4px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  opacity: 0;
  transition: 0.2s;
  pointer-events: none;
}

.icon-card:hover span {
  opacity: 1;
  bottom: -30px;
}

.icons .icon-card .show-span {
  display: inline;
}

.icons .icon-card span:hover {
  display: flex;
}

.icons div:hover {
  transform: translateY(-8px) scale(1.15);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  background: var(--hover-color);
}

.projetos {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  max-width: 1200px;
}

.projetos .projetos-destaque h2 {
  text-align: center;
  padding-bottom: 20px;
}

.projeto-cards {
  display: flex;
  gap: 12px;
  justify-content: center;
  flex-wrap: wrap;
}

.projeto-cards .projeto-card {
  background: var(--background-card-color);
  padding: 20px;
  border-radius: 6px;
  max-width: 360px;
}

.projeto-cards .projeto-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projeto-cards .projeto-card .projeto-titulo {
  margin-bottom: 8px;
}

.projeto-cards .projeto-card .projeto-imagem {
  max-width: 240px;
  border-radius: 6px;
  margin-bottom: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.projeto-cards .projeto-card .projeto-imagem:hover {
  transform: scale(1.2);
}

.projeto-cards .projeto-card .projeto-tecnologias {
  display: flex;
  gap: 8px;
}

.projeto-cards .projeto-card .projeto-tecnologias .projeto-tag {
  background-color: var(--hover-color);
  padding: 2px 6px;
  border-radius: 4px;
  margin: 4px 0;
}

.projeto-cards .projeto-card .projeto-descricao {
  text-align: justify;
  margin-bottom: 12px;
  overflow-y: scroll;
  scrollbar-width: none;
  max-height: 180px;
}

.contatos {
  width: 80%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.contatos .form-contato {
  background-color: var(--background-card-color);
  padding: 24px;
  border-radius: 6px;
  width: 540px;
}

.contatos .form-contato h2 {
  text-align: center;
}

.contatos .form-contato form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.contatos .form-contato form .campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 8px;
}

.contatos .form-contato form .campo label, .contatos .form-contato form .campo input {
  cursor: pointer;
  width: 100%;
}

.contatos .form-contato form .campo input, .contatos .form-contato .campo textarea {
  border: none;
  padding: 12px;
  border-radius: 6px;
  box-shadow: 1px 2px 4px var(--vt-c-text-light-2);
  font-size: 16px;
  outline: none;
}

.contatos .form-contato form .campo label {
  font-size: 18px;
}

.contatos .form-contato form .campo .opcoes {
  display: flex;
  justify-content: center;
}

/* Fim corpo */

/* Medias */

@media (max-width: 940px) {
  .projeto-cards {
    flex-wrap: wrap;
  }
}
/* Mobile */

@media (max-width: 768px) {
  header {
    display: flex;
    justify-content: center;
    padding: 12px 0;
  }

  header nav ul {
    display: flex;
    flex-wrap: wrap;
  }

  header nav ul li {
    font-size: 12px;
  }

  .sessao-apresentacao .apresentacao .detalhes .none,
  .sessao-apresentacao .apresentacao .detalhes .profissao,
  .apresentacao .detalhes p {
    width: 100%;
    text-align: center;
    display: block;
  }

  .sessao-apresentacao {
    padding-top: 0;
    max-height: 500px;
  }

  .sobre {
    max-height: 500px;

  }

  .sobre .conteudo {
    max-height: 400px;
    overflow: scroll;
  }

  .sessao-apresentacao .apresentacao .detalhes .nome {
    font-size: 32px;
  }

  .imagem img {
    display: none;
  }

  .projeto-cards {
    max-height: 1000px;
    overflow: scroll;
  }
}

#type-text::after {
  content: "|";
  margin-left: 5px;
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@media (prefers-color-scheme: light) {
  header li a {
    color: var(--vt-c-white);
  }

  .projeto-cards .projeto-card {
    border: 1px solid var(--primary-color);
  }

  .contatos .form-contato {
    border: 1px solid var(--primary-color); 
  }
}